#root {
    margin-bottom: 40px;
}
.text-danger {
    color: #db2828;
    margin-top: -10px;
    display: block;
}
.list-item .ui.segment,
.admin-list-item .ui.segment {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ui.pagination.menu.new-pagination .item {
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.ui.pagination.menu.new-pagination .item:hover,
.ui.pagination.menu.new-pagination .item:focus {
    text-decoration: none;
    background-color: rgba(0,0,0,.05);
    color: rgba(0,0,0,.95);
    box-shadow: none;
}
button {
    color: #4183c4;
    text-decoration: none;
    border: 0;
    background: transparent;
    padding: 0;
}